[submodule "sdk/protocol"]
	path = sdk/protocol
	url = https://github.com/harmony-development/protocol.git
[submodule "vendor/protobuf"]
	path = vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "vendor/croutons"]
	path = vendor/croutons
	url = https://invent.kde.org/cblack/coroutines
